<footer>
  <p>
  © <%= current_year %> Автор проекта: Вадим Зотин
  <br>
  <a href = <%= github_url name: "Vadzimz", repo: "test-guru"%> >Проект Test Guru</a>
  <br>
  <a href="https://www.thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a></p>
</footer>