<%= turbo_page_requires_reload %>

<h1>List Of Tests</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Number Of Questions</th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @tests %>
</table>
<p><%= link_to "Create a New Test", new_test_path%></p>
<p><%= link_to "Leave Test Guru", login_path%></p>
